tox>=2.3.1,<3.0.0
# hcmd and the hcmd packages are typically developed
# in tandem, so we're requiring the latest develop
# branch of hcmd when working on the hcmd.

nose==1.3.7
mock==1.3.0
wheel==0.38.1
tqdm >= 4.19.5
configparser==3.5.0
six
concurrent-log-handler

